* {
  box-sizing: border-box;
}
body {
  background: #4f4f4f; /* фоновый цвет */
  font-family: "Inter", sans-serif;
  padding: 15px;
}
.container {
  box-sizing: border-box;
  margin: 0 auto;
  float: none;
  position: absolute;
  width: 390px;
  height: 844px;
  left: 674px;
  top: 135px;

  background: #000000;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
}
.page-wrapper {
  box-sizing: border-box;

  position: absolute;
  width: 396px;
  height: 239px;
  left: 0px;
  top: -4px;

  background: #000000;
  border: 1px solid #ffffff;
  border-radius: 0px 0px 30px 31px;
}

.hello {
  position: absolute;
  width: 190px;
  height: 61px;
  left: 45px;
  top: 16px;
  color: #e3e3e3;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 169.42%;
  /* identical to box height, or 61px */

  letter-spacing: -0.02em;

  text-shadow: 0px 9px 64px #000000;
  transform: rotate(0.29deg);
  line-height: 61px;
  text-align: left;
}

.hello-text {
  position: absolute;
  width: 278px;
  height: 84.19px;
  left: 45.42px;
  top: 67px;
  color: #e3e3e3;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 169.42%;
  /* or 34px */

  display: flex;
  align-items: center;
  letter-spacing: -0.02em;

  text-shadow: 0px 9px 64px #000000;
  transform: rotate(0.29deg);
}

.user {
  box-sizing: border-box;

  position: absolute;
  width: 330px;
  height: 98.62px;
  left: 30px;
  top: 208px;

  background: #000000;
  border: 1px solid #ffffff;
  box-shadow: 0px 4px 43px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
}
.user-avatar {
  box-sizing: border-box;

  position: absolute;
  width: 66.7px;
  height: 53.01px;
  left: 132px;
  top: 4px;

  background: url(125092209.jpg);
  border: 1px solid #000000;
  border-radius: 26px;
}
.user-name {
  position: absolute;
  width: 115px;
  height: 23.62px;
  left: 116px;
  top: 63px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 12px;
  line-height: 15px;

  color: #e3e3e3;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.user-web {
  position: absolute;
  height: 111px;
  left: 112px;
  top: 81px;
  background: 4.62px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 10px;
  line-height: 12px;
  /* identical to box height */

  color: #e3e3e3;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.obvodka {
  box-sizing: border-box;

  position: absolute;
  width: 300px;
  height: 126px;
  left: 45px;
  top: 326px;

  background: #000000;
  border: 1px solid #ffffff;
  box-shadow: 0px 4px 43px rgba(0, 0, 0, 0.25);
  border-radius: 67px 0px;
  gap: 2.04px;
}
.card {
  position: absolute;
  width: 216.67px;
  height: 50.7px;
  left: 38px;
  top: 37.61px;
  margin: auto;
}
.buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  gap: 2.04px;
}
