* {
  box-sizing: border-box;
}
body {
  background: #4f4f4f; /* фоновый цвет */
  font-family: "Inter", sans-serif;
}

.page-wrapper {
  box-sizing: border-box;

  position: absolute;
  width: 396px;
  height: 239px;
  left: 0px;
  top: -4px;

  background: #000000;
  border: 1px solid #ffffff;
  border-radius: 0px 0px 30px 30px;
}

.hello {
  position: absolute;
  width: 190px;
  height: 61px;
  left: 45px;
  top: 16px;
  color: #e3e3e3;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 169.42%;
  /* identical to box height, or 61px */

  letter-spacing: -0.02em;

  text-shadow: 0px 9px 64px #000000;
  transform: rotate(0.29deg);
  line-height: 61px;
  text-align: left;
}

.hello-text {
  position: absolute;
  width: 278px;
  height: 84.19px;
  left: 45.42px;
  top: 67px;
  color: #e3e3e3;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 169.42%;
  /* or 34px */

  display: flex;
  align-items: center;
  letter-spacing: -0.02em;

  text-shadow: 0px 9px 64px #000000;
  transform: rotate(0.29deg);
}
